main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: #ffffff;
  width: 60rem;
  height: 50rem;
  border-radius: 1.5rem;
  margin-top: 2rem;
  padding-top: 1rem;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

li a {
  height: 5.5rem;
  width: 20rem;
  border: none;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #041833;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

li a:hover {
  opacity: 0.9;
  border: 2px solid #4778f7;
  cursor: pointer;
}

.content {
  margin-top: 0.3rem;
  padding: 0.5rem 1rem;
  position: relative;
  height: 7rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin-right: 2rem;
}

button {
  background: #4778f7;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background: rgba(71,120,247,.8);
  transition: 0.1s;
}
