div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 100;
  height: 15rem;
}

a {
  font-size: 1.1rem;
  background-color: #4778f7;
  color: #ffffff;
  border-radius: 10rem;
  padding: 0.7rem 1rem;
  margin: 1rem;
  cursor: pointer;
}

a:hover {
  background: rgba(71,120,247,.8);
  transition: 0.1s;
}
