main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: #ffffff;
  width: 50rem;
  height: 50rem;
  border-radius: 1.5rem;
  margin-top: 2rem;
  padding-top: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin-top: 0.3rem;
  padding: 0.5rem 1rem;
  position: relative;
  height: 7rem;
}

ul {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  height: 37rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

li a {
  height: 6rem;
  width: 30rem;
  border: none;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #041833;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

li a:hover {
  opacity: 0.9;
  border: 2px solid #4778f7;
  cursor: pointer;
}

ul::-webkit-scrollbar {
  width: 5px;
}
ul::-webkit-scrollbar-track {
  background: #9d9d9d;
}
ul::-webkit-scrollbar-thumb {
  background-color: #154580;
  border-radius: 20px;
}
